<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orange.latens" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="false" >
        <activity
            android:name=".activities.LatensActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="@string/title_activity_preferences"
            android:parentActivityName=".activities.LatensActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LatensActivity" />
        </activity>
        <activity
            android:name=".activities.LatensGraphActivity"
            android:label="@string/title_activity_latens_graph"
            android:parentActivityName=".activities.LatensActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LatensActivity" />
        </activity>
    </application>

</manifest>
